* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "h1" "h2" "h3" "burgers" "button";

}

h1 {
    grid-area: h1;
    display: flex;
    justify-content: center;
}

h2 {
    grid-area: h2;
    display: flex;
    justify-content: center;
}

h3 {
    display: flex;
    justify-content: center;
    grid-area: h3;
}

.burgers {
    grid-area: burgers;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.burgers__tamaño {
    border: 1px solid black;
}

.armado {
    grid-area: burgers;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.armado__agregados, .armado__aderezos, .armado__bebida {
    border: 1px solid black;
}

ul {
    list-style: none;
}

.provisorio {
    grid-area: button;
    display: flex;
    justify-content: center;
}