* {
    padding: 0;
    margin: 3px;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "h1" "h2" "burgers" "h3" "armado" "precio" "campo1" "campo2" "campo3" "campo4" "pedidoCompleto";

}

h1 {
    grid-area: h1;
    display: flex;
    justify-content: center;
}

h2 {
    grid-area: h2;
    display: flex;
    justify-content: center;
}

h3 {
    display: flex;
    justify-content: center;
    grid-area: h3;
}

.burgers {
    grid-area: burgers;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.armado {
    grid-area: armado;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.armado__agregados,
.armado__aderezos,
.armado__bebida {
    border: 1px solid black;
    width: 170px;
    padding: 10px;
}

ul {
    list-style: none;
}

.provisorio {
    grid-area: button;
    display: flex;
    justify-content: center;
}

.precio {
    grid-area: precio;
    display: flex;
    justify-content: center;
}

.campo1 {
    grid-area: campo1;
    display: flex;
    justify-content: center;
}

.campo2 {
    grid-area: campo2;
    display: flex;
    justify-content: center;
}

.campo3 {
    grid-area: campo3;
    display: flex;
    justify-content: center;
}

.campo4 {
    grid-area: campo4;
    display: flex;
    justify-content: center;
}

.pedidoCompleto {
    grid-area: pedidoCompleto;
    display: flex;
    justify-content: center;
}